
/* css */


body{
  background-color: #131313;
}

h1{
  position: relative;
  height: 16.38rem;
  top: 12rem;

  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: bold;
  font-size: 6.19rem;

  color: #3551BE;
}

#cdc{
  position: absolute;
  width: 887.14px;
  height: 857px;
  top: 60px;
  border-width: 1.5px;
}



h2{
  position: absolute;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 75px;

  color: #FFFFFF;
}
h3{
  position: relative;
  margin-top: 5px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 33px;
  line-height: 39px;

  color: #10BBC8;
}

.lthead{
  position:relative;
}

.rthead{
  position:relative;
  text-align: right;
}

p{
  font-size: 80px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  line-height: 60px;
  color: #FFFFFF;
  margin-bottom: 15px;
  height: auto;

}


#far_right_p{
  height: 700px;
  text-align:right;
  float:right;
}

.right_p{

  height: auto;
  text-align:right;
}

.right_p{

  height: auto;
  text-align:left;
}


.arrows{
  display: block;
  margin: auto;
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
}

.img_fluid{
  max-width: 100%;
  height: auto;
}



#cdc_img{
  position: relative;
}


#lang_img{

  float:right;
}

#job_img{
  position: relative;
}

#pr_img{
  float:right;
}

#covid_img{

}
